<img src="/images/background.jpg" alt="Background" style="width:1310px;height:300px;" >
    <p></p>
<% if (true || loggedIn) {%> 
    <form method="post" action="/fruits"> 
        <b>Search Fruit</b>
          <input type="text" name="fruit" 
                 placeholder="e.g. Apple">
        <input type="submit">
    </form>
    <br>
<% } %>



    
    


